* {
    font-family: 'Open Sans', sans-serif;

}

/* header */
.header-container {
    width: 1920px;
    height: 800px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;

}

.header-lef {
    width: 635px;
    height: 800px;
}

.title {
    display: flex;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;

}

.pra {
    display: flex;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.btn {
    display: flex;
    padding: 20px 43px;
    align-items: flex;
    background-color: ;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-style: normal;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

/* main part */
/* main part one */
.main-one {
    text-align: center;
}

.title-one {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.pra-one {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 90px;
}

.flower-windo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

.flower-windo-one {
    width: 464px;
    height: 538px;

}

.flower-windo-two {
    width: 464px;
    height: 538px;
}

.flower-windo-three {
    width: 464px;
    height: 538px;

}

.img {

    background-color: blue;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.ti {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    text-decoration-line: underline;
}

/* main two */
.main-two {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.main-two-left {
    /* padding-left: 00px; */
    text-align: center;
}

.header-one {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.off {
    color: #E55473;
}

.text-one {
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.btn-one {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* main three */
.main-three {
    text-align: center;
}

.header-two {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.text-two {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.main-three-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.img-sty{
    width: 342px;
    height: 396px;
}